.info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.info__block {
    min-height: 137px;
    width: 100%;
    padding: 20px;
    border: 3px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__block--big {
    height: 294px;
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.info__bold {
    font-weight: 600;
    font-size: 24px;
    color: var(--ias-chernyy);
}

.info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--ias-chernyy);
}

