.accordion-button:not(.collapsed) {
    background-color: var(--ias-seryy);
    --bs-accordion-active-color: var(--ias-chernyy);
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ias-seryy);
}

.table tr {
    border-bottom: 1px solid var(--ias-seryy);
    transition: .15s all ease-in-out;
}

.table tbody tr:hover td, .table tr:hover th {
    background: var(--ias-svetlo-seryy);
}

.accordion-button::after {
    margin-left: 0;
}

.accordion-collapse {
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
}

.table thead th {
    color: var(--ias-temno-seryy);
}

.table th {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--ias-chernyy);
}

.table a {
    text-decoration: none;
    color: var(--ias-chernyy);
    display: block;
    width: 100%;
    height: 100%;
}

.tables__accordion {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table__more {
    border: none;
    background: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    transition: .15s all ease-in-out;
}

.table__more:hover {
    background: var(--ias-svetlo-seryy);
}

.table__dropdown-menu {
    padding: 5px;
    width: 200px;
}

.table__dropdown-menu > a {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 125%;
    color: var(--ias-chernyy);
    text-decoration: none;
    transition: .15s all ease-in-out;
}

.table__dropdown-menu > a:hover {
    background: var(--ias-svetlo-seryy);
}

.table__sort {
    background: url("/img/sort.svg") no-repeat center;
    background-size: cover;
    border: none;
    height: 17px;
    width: 17px;
    margin-left: 3px;
}

.table__sort.active {
    background: url("/img/active-sort.svg") no-repeat center;
    background-size: cover;
}

.table__sort img {
    object-fit: cover;
}

.table__title {
    width: 250px;
}

.table__status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    border-radius: 15px;
    padding: 10px 20px;
    min-width: 120px;
    width: max-content;
    height: 32px;
}

.table__status.new {
    color: var(--status-new);
    border: 1px solid var(--status-new);
}

.table__status.in_work {
    color: var(--status-in-work);
    border: 1px solid var(--status-in-work);
}

.table__status.expired {
    color: var(--status-expired);
    border: 1px solid var(--status-expired);
}

