:root {
    --title-font-size: 35px;
    --font-size: 20px;
    --small-font-size: 18px;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--ias-chernyy);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--font-size);
}

.small-text {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--small-font-size);
}


:root {
    /*fonts*/
    --font-family: "Gilroy", sans-serif;
    /*vars*/
    --container-offset: 60px;
    --header-offset: 150px;
    --padding: 5px;
    --offset: 10px;
    --gap: 10px;
    --small-border-radius: 8px;
    --border-radius: 15px;
    --title-font-size: 35px;
    --font-size: 22px;
    --middle-font-size: 16px;
    --small-font-size: 12px;
    --black-color: #000;
    /* colors */
    --ikonki-bokovoe-menyu: #767676;
    --siniy: #050081;
    --yarkiy-siniy: #4a43ec;
    --krasnyy: #d62545;
    --belyy: #fff;
    --slova-v-chate: rgba(112, 124, 151, 0.9);
    --chernyy-ne-chernyy: #000023;
    --chut-seryy: #f4f4f4;
    --seryy: #c4c4c4;
    --teg-kalendar: #b7bfff;
    --sero-goluboy: #bed7e8;
    --normalnyy-goluboy: #c9e9ff;
    --golub: #d6edff;
    --legkiy-siniy: #e6e9ff;
    --ias-belyy: #fff;
    --ias-svetlo-seryy: #f8f8fa;
    --ias-seryy: #eef0f4;
    --ias-temno-seryy: #7c8493;
    --ias-chernyy: #121212;
    --ias-siniiy: #dfecff;
    --ias-krasnyy: #ffd9d9;
    --ias-zelenyy: #e8ffe5;
    --temno-siniy: #0041a0;
    --ikonki: #a4a4a4;
    --ias-svetlo-seryy: #f2f2f2;
    --ias-belyy: #fff;
    --ias-seryy: #e2e2e2;
    --ias-chernyy: #000;
    --ias-temno-seryy: #666;
    --siniy: #0868f6;
    --ias-siniy: #0868f6;
    --svetlo-siniy: #dfecff;
    --main-color: #3CE1A4;
    /* status */
    --status-new: #48e1a8;
    --status-in-work: #3c63c7;;
    --status-expired: #e82548;
    /*  notification status  */
    --status-danger: #E82548;
    --status-dark: #121212;
    --status-default: #3C63C7;

}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-family);
    background: #F8F8FA !important;
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 0 auto;
}

.top {
    margin-top: 20px;
}

.top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000;
}

.top__save {
    margin-left: auto;
}

.bold {
    font-weight: 700;
}

.button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #d3e0ff;
    border-radius: 10px;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #000;
    border: none;
}

.button--dark {
    color: var(--belyy);
    background: linear-gradient(180deg, #5751df 0%, #342fbc 100%);
}

.button--blue {
    background: var(--yarkiy-siniy);
    color: var(--belyy);
}

.button--light {
    background: #ebf1ff;
    color: #4a4a4a;
}
