._modal-row {
    cursor: pointer;
}

._modal-row:hover {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: relative;
    z-index: 1;
}

._modal-row .form-group {
    pointer-events: none;
}

._modal-inputs__container {
    width: 100%;
    max-width: 600px;
    padding: 0;
}

.matrix .form-control {
    height: 80px !important;
}

.matrix[data-with-hidden-columns="1"] .text-capitalize.--hidden-column {
    display: none;
}

.matrix[data-with-hidden-columns="1"] th:has([hidden="hidden"]) {
    display: none;
}

._modal-inputs [hidden="hidden"] {
    display: block !important;
}

._modal-inputs .form-group:has(.--modal-hidden) {
    display: none;
}

._modal-inputs .form-group:has(.--select-field-type),
._modal-inputs .form-group:has(.--select-group-type) {
    display: none
}